---
import DropdownItem from "./DropdownItem.astro";

import TempDropdown from "./Dropdown.astro";

import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
---

<header class="nav:flex p-5 gap-5">
  <Astronav closeOnClick>
    <div class="flex w-full nav:w-auto justify-between">
      <a href="/">Dungeon World</a>
      <div class="block nav:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>
    </div>
    <MenuItems class="hidden nav:flex">
      <ul class="flex flex-col nav:flex-row nav:gap-5 no-list-style">
        <li>
          <TempDropdown class="group">
            <span slot="title">Playing&nbsp;</span>
            <DropdownItem href="/playing/introduction">
              Introduction
            </DropdownItem>
            <DropdownItem href="/playing/playing_the_game">
              Playing the Game
            </DropdownItem>
            <DropdownItem href="/playing/example_of_play">
              Example of Play
            </DropdownItem>
            <DropdownItem href="/playing/character_creation">
              Character Creation
            </DropdownItem>
            <DropdownItem href="/playing/moves">Moves</DropdownItem>
            <DropdownItem href="/playing/equipment">Equipment</DropdownItem>
          </TempDropdown>
        </li>
        <li>
          <TempDropdown>
            <span slot="title">Classes&nbsp;</span>
            <DropdownItem href="/classes/barbarian">Barbarian</DropdownItem>
            <DropdownItem href="/classes/bard">Bard</DropdownItem>
            <DropdownItem href="/classes/cleric">Cleric</DropdownItem>
            <DropdownItem href="/classes/druid">Druid</DropdownItem>
            <DropdownItem href="/classes/fighter">Fighter</DropdownItem>
            <DropdownItem href="/classes/immolator">Immolator</DropdownItem>
            <DropdownItem href="/classes/paladin">Paladin</DropdownItem>
            <DropdownItem href="/classes/ranger">Ranger</DropdownItem>
            <DropdownItem href="/classes/thief">Thief</DropdownItem>
            <DropdownItem href="/classes/wizard">Wizard</DropdownItem>
          </TempDropdown>
        </li>
        <li>
          <TempDropdown>
            <span slot="title">GMing&nbsp;</span>
            <DropdownItem href="/gming/gm">GM</DropdownItem>
            <DropdownItem href="/gming/first_session">
              First Session
            </DropdownItem>
            <DropdownItem href="/gming/fronts">Fronts</DropdownItem>
            <DropdownItem href="/gming/the_world">The World</DropdownItem>
            <DropdownItem href="/gming/advanced_delving">
              Advanced Delving
            </DropdownItem>
          </TempDropdown>
        </li>
        <li>
          <TempDropdown>
            <span slot="title">Monsters&nbsp;</span>
            <DropdownItem href="/monsters/overview">Overview</DropdownItem>
            <DropdownItem href="/monsters/cavern_dwellers">
              Cavern Dwellers
            </DropdownItem>
            <DropdownItem href="/monsters/swamp_denizens">
              Swamp Denizens
            </DropdownItem>
            <DropdownItem href="/monsters/undead_legions">
              Undead Legions
            </DropdownItem>
            <DropdownItem href="/monsters/dark_woods">Dark Woods</DropdownItem>
            <DropdownItem href="/monsters/ravenous_hordes">
              Ravenous Hordes
            </DropdownItem>
            <DropdownItem href="/monsters/twisted_experiments">
              Twisted Experiments
            </DropdownItem>
            <DropdownItem href="/monsters/lower_depths">
              Lower Depths
            </DropdownItem>
            <DropdownItem href="/monsters/planar_powers">
              Planar Powers
            </DropdownItem>
            <DropdownItem href="/monsters/folk_of_the_realm">
              Folk of the Realm
            </DropdownItem>
          </TempDropdown>
        </li>
        <li>
          <TempDropdown>
            <span slot="title">Spell Lists&nbsp;</span>
            <DropdownItem href="/spells/cleric">Cleric</DropdownItem>
            <DropdownItem href="/spells/wizard">Wizard</DropdownItem>
          </TempDropdown>
        </li>
        <li>
          <TempDropdown>
            <span slot="title">Appendices&nbsp;</span>
            <DropdownItem href="/appendices/thanks">Thanks</DropdownItem>
            <DropdownItem href="/appendices/teaching_the_game">
              Teaching
            </DropdownItem>
            <DropdownItem href="/appendices/adventure_conversion">
              Conversion
            </DropdownItem>
            <DropdownItem href="/appendices/instant_npcs">
              Instant NPCs
            </DropdownItem>
            <DropdownItem href="/appendices/tag_reference">
              Tag Reference
            </DropdownItem>
          </TempDropdown>
        </li>
      </ul>
    </MenuItems>
  </Astronav>
</header>
