---
import DropdownArrow from "./DropdownArrow.astro";

import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  DropdownSubmenu,
} from "astro-navbar";
---

<header class="lg:flex p-5 gap-5">
  <Astronav closeOnClick>
    <div class="flex w-full lg:w-auto justify-between">
      <a href="/">Dungeon World</a>
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul class="flex flex-col lg:flex-row lg:gap-5">
        <li>
          <Dropdown class="group">
            <button class="flex items-center">
              <span>Playing&nbsp;</span>
              <DropdownArrow />
            </button>
            <DropdownItems class="relative">
              <div class="absolute top-0 bg-white border-black border rounded">
                <ul>
                  <a href="/playing/introduction">
                    <li class="hover:bg-blue-500 p-1">Introduction</li>
                  </a>
                  <a href="/playing/playing_the_game">
                    <li class="hover:bg-blue-500 p-1">
                      Playing&nbsp;the&nbsp;Game
                    </li>
                  </a>
                  <a href="/playing/example_of_play">
                    <li class="hover:bg-blue-500 p-1">
                      Example&nbsp;of&nbsp;Play
                    </li>
                  </a>
                  <a href="/playing/character_creation">
                    <li class="hover:bg-blue-500 p-1">
                      Character&nbsp;Creation
                    </li>
                  </a>
                  <a href="/playing/moves">
                    <li class="hover:bg-blue-500 p-1">Moves</li>
                  </a>
                  <a href="/playing/equipment">
                    <li class="hover:bg-blue-500 p-1">Equipment</li>
                  </a>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
        <li>
          <Dropdown class="group">
            <button class="flex items-center">
              <span>Classes&nbsp;</span>
              <DropdownArrow />
            </button>
            <DropdownItems class="relative">
              <div
                class="absolute top-0 bg-white p-1 border-black border rounded"
              >
                <ul>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/barbarian">Barbarian</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/bard">Bard</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/cleric">Cleric</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/druid">Druid</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/fighter">Fighter</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/immolator">Immolator</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/paladin">Paladin</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/ranger">Ranger</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/thief">Thief</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/wizard">Wizard</a>
                  </li>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
        <li>
          <Dropdown class="group">
            <button class="flex items-center">
              <span>GMing&nbsp;</span>
              <DropdownArrow />
            </button>
            <DropdownItems class="relative">
              <div
                class="absolute top-0 bg-white p-1 border-black border rounded"
              >
                <ul>
                  <a href="/gming/gm"
                    ><li class="hover:bg-blue-500 p-1">GM</li>
                  </a>

                  <a href="/gming/first_session"
                    ><li class="hover:bg-blue-500 p-1">First&nbsp;Session</li>
                  </a>

                  <a href="/gming/fronts"
                    ><li class="hover:bg-blue-500 p-1">Fronts</li>
                  </a>
                  <a href="/gming/the_world"
                    ><li class="hover:bg-blue-500 p-1">The&nbsp;World</li>
                  </a>
                  <a href="/gming/advanced_delving">
                    <li class="hover:bg-blue-500 p-1">Advanced&nbsp;Delving</li>
                  </a>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
        <li>
          <Dropdown class="group">
            <button class="flex items-center">
              <span>Monsters&nbsp;</span>
              <DropdownArrow />
            </button>
            <DropdownItems class="relative">
              <div
                class="absolute top-0 bg-white p-1 border-black border rounded"
              >
                <ul>
                  <a href="/monsters/overview">
                    <li class="hover:bg-blue-500 p-1">Overview</li>
                  </a>
                  <a href="/monsters/cavern_dwellers">
                    <li class="hover:bg-blue-500 p-1">Cavern&nbsp;Dwellers</li>
                  </a>
                  <a href="/monsters/swamp_denizens">
                    <li class="hover:bg-blue-500 p-1">Swamp&nbsp;Denizens</li>
                  </a>
                  <a href="/monsters/undead_legions">
                    <li class="hover:bg-blue-500 p-1">Undead&nbsp;Legions</li>
                  </a>
                  <a href="/monsters/dark_woods">
                    <li class="hover:bg-blue-500 p-1">Dark&nbsp;Woods</li>
                  </a>
                  <a href="/monsters/ravenous_hordes">
                    <li class="hover:bg-blue-500 p-1">Ravenous&nbsp;Hordes</li>
                  </a>
                  <a href="/monsters/twisted_experiments">
                    <li class="hover:bg-blue-500 p-1">
                      Twisted&nbsp;Experiments
                    </li>
                  </a>
                  <a href="/monsters/swamp_denizens">
                    <li class="hover:bg-blue-500 p-1">Swamp Denizens</li>
                  </a>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
      </ul>
    </MenuItems>
  </Astronav>
</header>
