---
import DropdownArrow from "./DropdownArrow.astro";

import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  DropdownSubmenu,
} from "astro-navbar";
---

<header class="lg:flex p-5 gap-5">
  <Astronav closeOnClick>
    <div class="flex w-full lg:w-auto justify-between">
      <a href="/">Dungeon World</a>
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul class="flex flex-col lg:flex-row lg:gap-5">
        <li>
          <Dropdown class="group">
            <button class="flex items-center">
              <span>Playing&nbsp;</span>
              <DropdownArrow />
            </button>
            <DropdownItems class="relative">
              <div class="absolute top-0 bg-white border-black border rounded">
                <ul>
                  <a href="/playing/introduction">
                    <li class="hover:bg-blue-500 p-1">Introduction</li>
                  </a>
                  <a href="/playing/playing_the_game">
                    <li class="hover:bg-blue-500 p-1">
                      Playing&nbsp;the&nbsp;Game
                    </li>
                  </a>
                  <a href="/playing/example_of_play">
                    <li class="hover:bg-blue-500 p-1">
                      Example&nbsp;of&nbsp;Play
                    </li>
                  </a>
                  <a href="/playing/character_creation">
                    <li class="hover:bg-blue-500 p-1">
                      Character&nbsp;Creation
                    </li>
                  </a>
                  <a href="/playing/moves">
                    <li class="hover:bg-blue-500 p-1">Moves</li>
                  </a>
                  <a href="/playing/equipment">
                    <li class="hover:bg-blue-500 p-1">Equipment</li>
                  </a>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
        <li>
          <Dropdown class="group">
            <button class="flex items-center">
              <span>Classes&nbsp;</span>
              <DropdownArrow />
            </button>
            <DropdownItems class="relative">
              <div
                class="absolute top-0 bg-white p-1 border-black border rounded"
              >
                <ul>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/barbarian">Barbarian</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/bard">Bard</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/cleric">Cleric</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/druid">Druid</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/fighter">Fighter</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/immolator">Immolator</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/paladin">Paladin</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/ranger">Ranger</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/thief">Thief</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/classes/wizard">Wizard</a>
                  </li>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
        <li>
          <Dropdown class="group">
            <button class="flex items-center">
              <span>GMing&nbsp;</span>
              <DropdownArrow />
            </button>
            <DropdownItems class="relative">
              <div
                class="absolute top-0 bg-white p-1 border-black border rounded"
              >
                <ul>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/gming/gm">GM</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/gming/first_session">First&nbsp;Session</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/gming/fronts">Fronts</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/gming/the world">The&nbsp;World</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/gming/advanced_delving">Advanced&nbsp;Delving</a>
                  </li>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
        <li>
          <Dropdown class="group">
            <button class="flex items-center">
              <span>Monsters&nbsp;</span>
              <DropdownArrow />
            </button>
            <DropdownItems class="relative">
              <div
                class="absolute top-0 bg-white p-1 border-black border rounded"
              >
                <ul>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/monsters/overview">Overview</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/monsters/cavern_dwellers">Cavern&nbsp;Dwellers</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/monsters/swamp_denizens">Swamp&nbsp;Denizens</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/monsters/undead_legions">Undead&nbsp;Legions</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/monsters/dark_woods">Dark&nbsp;Woods</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/monsters/ravenous_hordes">Ravenous&nbsp;Hordes</a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/monsters/twisted_experiments">
                      Twisted&nbsp;Experiments
                    </a>
                  </li>
                  <li class="hover:bg-blue-500 p-1">
                    <a href="/monsters/swamp_denizens">Swamp Denizens</a>
                  </li>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
      </ul>
    </MenuItems>
  </Astronav>
</header>
