---
import DropdownItem from "./DropdownItem.astro";
import Dropdown from "./Dropdown.astro";
import sortGlob from "../utilites/sortGlob";

import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const content = {
  Playing: await Astro.glob("/src/pages/playing/*"),
  Classes: await Astro.glob("/src/pages/classes/*"),
  Spells: await Astro.glob("/src/pages/spells/*"),
  GMing: await Astro.glob("/src/pages/gming/*"),
  Monsters: await Astro.glob("/src/pages/monsters/*"),
  Appendices: await Astro.glob("/src/pages/appendices/*"),
};

Object.values(content).map((c) => sortGlob(c));
---

<header class="nav:flex p-5 gap-5">
  <Astronav closeOnClick>
    <div class="flex w-full nav:w-auto justify-between">
      <a href="/">Dungeon World</a>
      <div class="block nav:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>
    </div>
    <MenuItems class="hidden nav:flex">
      <ul class="flex flex-col nav:flex-row nav:gap-5 no-list-style">
        {
          Object.entries(content).map(([name, items]) => (
            <li>
              <Dropdown>
                <span slot="title">{name}&nbsp;</span>
                {items.map((item) => (
                  <DropdownItem href={item.url}>
                    {item.frontmatter.title}
                  </DropdownItem>
                ))}
              </Dropdown>
            </li>
          ))
        }
      </ul>
    </MenuItems>
  </Astronav>
</header>
